<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MatchingEngineConfiguration" type="com.solace.demos.trading.ServiceConfiguration, ExchMatchingEngineCore" />
  </configSections>
  <appSettings>
    <!-- Required for logging -->
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <!-- Service Configuration -->
  <MatchingEngineConfiguration sessionHost="tcp://vmr-mr8v6yiwicdj.messaging.solace.cloud:20512"
                               sessionUsername="solace-cloud-client"
                               sessionPassword="kasaov362vnboas6r1oi2v85q8"
                               sessionVpnName="msgvpn-rwtxvklq4sp"
                               sessionClientName=""
                               sessionClientDescription=""
                               exchName="BSE"
                               exchOrdRequestTopic="ORDER/BSE/REQUEST/>"
                               exchOrdResponseTopic="ORDER/BSE/RESPONSE/"
                               exchTradeTopicPrefix="MD/BSE/"
                               exchSettlementTopicPrefix="SETTLEMENT/" 
                               />

</configuration>